# Dependencies
node_modules/
*/node_modules/
**/node_modules/

# Logs
*.log
npm-debug.log*

# Environment files
.env
.env.local

# Build outputss
dist/
build/
.next/

# OS files
.DS_Store
Thumbs.db

**/package-lock.json